// * Fonts *
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
$font-family-primary: 'Montserrat', sans-serif;
$font-size-very-small: 10px;
$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

// * Color Variables *
$color-background: white;
$color-gray-1: #4E5150;
$color-gray-2: #A9A9A9;
$color-gray-3: #BDBDBD;
$color-gray-4: #B9BDCF;




